
@media screen and (max-width:992px){

    .education-cards{
    display:grid;
    grid-template-columns: 1fr;
    gap:30px;
    padding:30px 0px;
  
    }

    .project-card{
    padding:15px;
    }


     .project-cards{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:auto;
    grid-template-areas:
        "novi"
        "stari"
        "stari"
        "stari"
        "stari";
    gap:20px;
    }
    
    .current-card,
    .project-card{
        flex-direction: row;
        gap:20px;
    }

    .current-card img,
    .project-card img{
    width:65%;

    }

    .project-card-text-block{
        width:35%;
    }

    .current-short,
    .current-short-button{
    display:inline-block;
    }

    .current-long{
    display:none;
    }

    .project-card-description,
    .current-short{
        font-size:0.8rem;
    }

    

    .current-card h4{
        margin-top:8px;
        margin-bottom:5px;
        font-size:1.5rem;
    }

    .current-card h5{
        color:var(--boja-zlatna);
    margin-top:0px;
    margin-bottom: 8px;
    font-size:0.9rem;
    }
}


@media screen and (max-width:768px){
    .hero-message{
    align-items: center;
    justify-content: center;
    text-align: center;
    }

    .current-card,
    .project-card{
        flex-direction: column;
        gap:20px;
    }

    .current-card img,
    .project-card img,
     .project-card-text-block{
    width:100%;

    }

    .project-card-description{
        min-height:100px;
    }

    .project-btn{
        width:20%;
    }
    
}

@media screen and (max-width:576px){
    
    

    .current-card,
    .project-card{
      padding-bottom:30px;;
       border-bottom:2px solid #D9A441;
    }

     .project-card img{
        display:block;
    }


    
}



@media screen and (max-width:425px){
    
    .hero-content h1{
        font-size:3rem;
    }

    .hero-content p{
        font-size:1.2rem;
    }

    .about-text h2{
        font-size:2rem;
    }

    .edu-card{
        border-bottom:1px solid #D9A441;
    }
    
  
}