:root{
    --boja-bela: #EEEEEE;
    --boja-zlatna: #D9A441;
    --boja-tamnoSiva: #2a2a2a;
    --boja-crna: #141414;
    --boja-svetloSiva: #DDDDDD;
    --shadow: 0px 18px 40px rgba(24, 54, 66, 0.12);
    --radius: 8px;
}

*{
    margin:0px;
    padding:0px;
    font-family:Helvetica;
}

a{
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body{
    background:url("../../img/background.gif") no-repeat;
    background-attachment: fixed;
    
}

.sadrzaj{
    width:100%;
}

.btn{
    background-color:var(--boja-zlatna);
}

.btn:focus{
    background-color:var(--boja-zlatna);
}

/* --------------------------- NAVIGATION MENU ---------------------------- */

.zaglavlje{
    position:fixed;
    width:100%;
    z-index: 99999;
}

.nav-link{
     color:var(--boja-zlatna);
     font-weight:700;
     text-transform: uppercase;
     font-size:20px;
}

.navbar{
    background-color:rgba(20,20,20,0.85);
}


.nav-link:hover{
    color:var(--boja-bela);
}

.navbar-brand{
    color:var(--boja-zlatna);
    font-weight: 700;
    font-size:35px;
}

.navbar-brand:hover{
    color: var(--boja-bela);
}

.navbar-toggler{
    background-color:#D9A441;
}

/* --------------------------- HERO BANNER ---------------------------- */


#hero{
    width:100%;
    padding-top:60px;
}

.hero-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height:40vh;
}

.hero-content h1{
    font-size:2.8rem;
    color:var(--boja-bela);
}

.hero-content p{
    margin-top:25px;
    font-size:1.5rem;
    color:var(--boja-bela);
}


/* --------------------------- ABOUT SECTION ---------------------------- */



#about{
    padding:45px 0px;
    scroll-margin-top: 10vh;
    background-color: var(--boja-svetloSiva);
    border-top:5px solid #D9A441;
}

.about-text h2{
    
    font-size: 2.3rem;
    font-weight:550;
    color: var(--boja-zlatna);
}

.about-text p{
    padding:8px;
    font-size:1.2rem;
}



.about-image img{
    width:100%;
    border-radius:var(--radius);
    
}


/* --------------------------- EDUCATION SECTION ---------------------------- */


#education{
    padding:45px 0px;
    scroll-margin-top: 10vh;
    background-color:var(--boja-bela);
}


.education-content h2{
    font-size: 2.3rem;
    font-weight:550;
    color: var(--boja-zlatna);
}

.education-cards{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    gap:30px;
    padding:25px 0px;
}

.edu-card{
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    background-color:var(--boja-svetloSiva);
    border-bottom:2px solid #D9A441;
    font-size:1.1rem;
    line-height:1.8;
}

.edu-card h3{
    text-align: center;
}

.edu-card h4{

    font-size:0.9rem;
    margin-bottom:20px;
}


/* --------------------------- SKILLS SECTION ---------------------------- */

#skills{
    padding: 25px 0px;
    scroll-margin-top: 10vh;
    background-color:var(--boja-bela);
}

.skills-content h2{
    font-size: 2.2rem;
    color:var(--boja-zlatna);
    margin-bottom:35px;

}

.skill-card{
    padding:25px 0px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-card p{
    text-align: center;
    margin-top:20px;
    font-size:1.2rem;
    font-weight:700;
    color:var(--boja-tamnoSiva);
}

i {
    font-size:5rem;
    color:var(--boja-tamnoSiva);
    
}

.progress-bar{
    background-color:var(--boja-zlatna);
}

.progress{
    --bs-progress-bg:var(--boja-tamnoSiva);
}

/* --------------------------- PROJECTS SECTION ---------------------------- */


#projects{
    padding:45px 0px;
    scroll-margin-top: 10vh;
    background-color: var(--boja-svetloSiva);
}

.projects-content h2{
    font-size: 2.3rem;
    color:var(--boja-zlatna);
    margin-bottom:35px;
}

.project-cards{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:auto;
    grid-template-areas:
        "project"
        "project"
        "project"
        "project"
        "project"
        "project";
    gap:30px;
}

.project-card{
    background-color:var(--boja-bela);
    padding:25px;
    border-radius:var(--radius);
    display:flex;
    gap:10px;
    flex-direction: column;

}

.project-card h4{
    font-size:2rem;
    color:var(--boja-zlatna);
    margin-top:10px;
    font-weight:700;
 
}

.project-card h5{
    color:var(--boja-zlatna);
    margin-bottom: 15px;
}

.project-card-image-block{
    display:flex;

}

.project-card-image-block img{
    width:100%;
    border-radius:var(--radius);
    border:1px solid #CCCCCC;
}

.project-card-text-block{
    display:flex;
    flex-direction:column;
    line-height:1.8;
    height:70%;

}


.project-card-description{
    font-size:1.1rem;
    margin-bottom:40px;
    
}

.project-btn{
    margin-top:auto;
    width:50%;

}

.modal-content{
    height:80vh;
}


/* --------------------------- CONTACT SECTION ---------------------------- */


#contact{
    padding:45px 0px;
    scroll-margin-top: 10vh;
    background-color:var(--boja-bela);
}

.contact-content h2{
    font-size:2.3rem;
    color:var(--boja-zlatna)
}

.contact-text p{
    font-size:1.2rem;
    margin:25px 0px;
    padding:10px;
}

form{
    padding:10px;
}

.contact-linkovi ul{
    list-style:none;
    margin:0px;
    padding:0px;
}

.contact-icon{
    display:inline-block;
    margin-bottom:15px;
}

.contact-linkovi img{
    width:35px;
}

.btn{
    background-color:var(--boja-zlatna);
}

.btn:focus{
    background-color:var(--boja-zlatna);
}

/* --------------------------- FOOTER ---------------------------- */

.footer{
    background-color:#2a2a2a;
    border-top:1px solid #D9A441;
}

.footer-content{
    display:flex;
    align-items: center;
    min-height:100px;
    justify-content: space-between;
}

.footer-info{
    color:#ffffff;
    font-size:1.1rem;
}

.footer-info a{
    color:#ffffff;
}

